.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
}

.AboutMe {
  .title {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;

    color: var(--t);
  }

  p {
    color: var(--t);
  }
}

.titleObjetives {
  display: flex;
    justify-content: center;

    .titleSubSection {
      font-weight: 700;

      color: var(--t);
    }
}

.listObjetives {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  padding-left: 1rem;
  border-left: 3px solid var(--t);

  .objetive {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--t);

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.sectionProfile {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 2vh;

  @media (max-width: 426px) {
    padding-bottom: 12vh;
  }

  .titleContainer {
    display: flex;
    justify-content: center;

    .titleSection {
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 700;

      color: var(--t);
    }

    .titleSubSection {
      font-weight: 700;

      color: var(--t);
    }
  }


}
