@keyframes colorCycle {
  0% {
    filter: brightness(0) invert(1);
  }

  50% {
    filter: none;
  }
}

.info {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 426px) {
    height: 50vh;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      filter: brightness(0) invert(1);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: colorCycle 5s ease-in-out infinite;
    }

    .title {
      filter: brightness(0) invert(1);
      color: var(--t);

      font-size: 3.5rem;
      line-height: 4rem;
      font-weight: 700;
      letter-spacing: -0.1rem;

      margin-bottom: 1.5rem;

      background-image: linear-gradient(to right, #8f0047, #ff0080, #ffa8d4);

      @media (max-width: 426px) {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 700;
      }
    }

    .subtitle {
      filter: brightness(0) invert(1);
      color: var(--st);

      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 500;

      background-image: linear-gradient(to right, #6107bb, #8534d6, #c38df8);
      animation-delay: 2.5s;
    }
  }

  .motivation {
    display: flex;

    max-width: 35rem;
    padding-left: 3px;
    background: linear-gradient(to top, #7928ca, #ff0080);

    .phrase {
      background: var(--bg);
      text-align: justify;
      color: var(--t);

      padding: 0.3rem 0 0.3rem 1rem;
    }
  }
}
