.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  @media (max-width: 426px) {
    flex-direction: row;

    width: 100%;
    gap: 2rem;

    button {
      svg {
        height: 40px;
        width: 40px;
      }
    }
  }

  @media (max-width: 375px) {
    flex-direction: row;

    width: 100%;
    gap: 1.25rem;

    button {
      svg {
        height: 35px;
        width: 35px;
      }
    }
  }

  .selectAction {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1.5rem;
      color: var(--bg);
    }

    @media (max-width: 769px) {
      gap: 0;

      span {
        font-size: 0;
      }
    }
  }
}
